{% extends "base_front.html.twig" %}

{% block body %}
	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
					
						{% if update is defined %}
							<h1>
								update  your offre
							</h1>
						{% else %}
							<h1>
								Add your offre
							</h1>
						{% endif %}			
					</div>
				</div>
				<div class="col-lg-7">
					<div class="hero-img-wrap">
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- End Hero Section -->

	{# <div class="untree_co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mb-5 mb-md-0">
					<h2 class="h3 mb-3 text-black">Offer Details</h2>
					<div class="p-3 p-lg-5 border bg-white">
						<div class="form-group">


							{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}
							) }}
						
							<table>
								<tr>
								<div class="form-group col-md-6 mt-3">
									<td>{{form_label(form.nom,"title offer")}} <span  class="err-msg">*</span></td>
									<td>{{form_widget(form.nom)}}</td>
									<td><span class="err-msg">{{form_errors(form.nom)}}</span></td>
									</div>
								</tr>

								<tr>
								<div class="form-group col-md-6 mt-3">
									<td>{{form_label(form.categorie,"categorie offer ")}} <span  class="err-msg">*</span> </td>
									<td>{{form_widget(form.categorie)}}</td>
									<td class="err-msg">{{form_errors(form.categorie)}}</td>
									</div>
								</tr>


								<tr>
								<div class="form-group col-md-6 mt-3">
									<td>{{form_label(form.description,"description offer")}} <span  class="err-msg">*</span></td>
									<td>{{form_widget(form.description)}}</td>
									<td class="err-msg">{{form_errors(form.description)}}</td>
									</div>
								</tr>


								<tr>
								<div class="form-group col-md-6 mt-3">
									<td>{{form_label(form.imageFile1,"Picture offer ")}} <span  class="err-msg">*</span></td>
									<td>{{form_widget(form.imageFile1)}}</td>
									<td class="err-msg">{{form_errors(form.imageFile1)}}</td>
									</div>
								</tr>

								<tr>
								<div class="form-group col-md-6 mt-3">
									<td>{{form_label(form.imageFile2," Picture offer ")}}</td>
									<td>{{form_widget(form.imageFile2)}}</td>
									<td class="err-msg">{{form_errors(form.imageFile3)}}</td>
									</div>
								</tr>

								<tr>
								<div class="form-group col-md-6 mt-3">
									<td>{{form_label(form.imageFile3,"Picture offer")}}</td>
									<td>{{form_widget(form.imageFile3)}}</td>
									<td class="err-msg">{{form_errors(form.imageFile3)}}</td>
									</div>
								</tr>

							</table>
							<div class="form-group col-md-6 mt-3">
							{{form_widget(form.save)}}
							</div>
							{{form_end(form)}}

					
						</div>
					</div>

				</div>
			</div>
		
		</div>
	</div>  #}
<!-- Start Contact Form -->
		<div class="untree_co-section">
      <div class="container">

        <div class="block">
          <div class="row justify-content-center">


            <div class="col-md-8 col-lg-8 pb-4">


              <div class="row mb-5">
            
           {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
               
               
				<div class="form-group">
				 <p class="form__title">
				 	<label class="col-form-label">
					{{ form_label(form.nom, "Title") }}<span class="err-msg"> *</span></label></p>
					{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.nom,{'attr': {'class': 'custom-error-class'}}) }}
				</div>


               <div class="form-group mb-5">
			    <p class="form__title">
				<label class="col-form-label">
					{{ form_label(form.description, "Description") }}<span class="err-msg"> *</span></label></p>
					<div class="col-12">
					{{ form_widget(form.description, {'attr': {'class': 'form-control', 'id': 'message', 'cols': 30, 'rows': 5}}) }}
					</div>
					{{ form_errors(form.description,{'attr': {'class': 'custom-error-class'}}) }}
				</div>
				<div class="form-group col-md-6 mt-3">
				 <p class="form__title">
					<label class="col-form-label">{{ form_label(form.categorie, "Categorie offer") }} <span class="err-msg"> *</span></label></p>
					<div class="col-md">
						{{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="col-md">
						{{ form_errors(form.categorie) }}
					</div>
				</div>

{#upload images#}

<div class="form-group col-md-6 mt-3">
  {{ form_label(form.imageFile1, "Picture offer") }} <span class="err-msg">*</span>
  {{ form_widget(form.imageFile1, {'attr': {'class': 'form-control'}}) }}
  <span class="err-msg">{{ form_errors(form.imageFile1,{'attr': {'class': 'custom-error-class'}}) }}</span>
</div>

<div class="form-group col-md-6 mt-3">
  {{ form_label(form.imageFile2, "Picture offer") }}
  {{ form_widget(form.imageFile2, {'attr': {'class': 'form-control'}}) }}
  <span class="err-msg">{{ form_errors(form.imageFile2) }}</span>
</div>

<div class="form-group col-md-6 mt-3">
  {{ form_label(form.imageFile3, "Picture offer") }}
  {{ form_widget(form.imageFile3, {'attr': {'class': 'form-control'}}) }}
  <span class="err-msg">{{ form_errors(form.imageFile3) }}</span>
</div>

{#end upload#}
{% if update is defined %}

{{ form_label(form.etat, "Etat", {'label_attr': {'class': 'custom-label-class mt-4'}}) }}
{{ form_widget(form.etat, {'attr': {'class': 'custom-input-class'}}) }}
{{ form_errors(form.etat, {'attr': {'class': 'custom-error-class'}}) }}
{% endif %}
<div class="form-group col-md-6 mt-3">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary-hover-outline'}}) }}
</div>

            {{ form_end(form) }}
            </div>

          </div>

        </div>

      </div>


    </div>
  </div>

  <!-- End Contact Form -->
<style>
/* Styles pour l'étiquette */
.custom-label-class {
    font-weight: bold;
    color: #333;
}

/* Styles pour le champ de saisie */
.custom-input-class {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
}

/* Styles pour les messages d'erreur */
.custom-error-class {
    color: red;
    font-size: 12px;
}


/* Style pour le label */
.form-group label {
  font-weight: bold;
}

/* Style pour le champ de fichier */
.form-group input[type="file"] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%; /* Remplacez par la largeur désirée */
  box-sizing: border-box; /* Pour inclure le padding dans la largeur */
}

/* Style pour le message d'erreur */
.err-msg {
  color: red;
  font-size: 12px;
}
</style>

{% endblock %}
