{% extends "base_front.html.twig" %}

{% block body %}

	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>
							<strong>Proposals Sended</strong>
						</h1>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="hero-img-wrap"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->
	{#start demandes #}
	<div class="untree_co-section before-footer-section">

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a href="{{ path('app_demande_envoye', {'update': 'true' }) }}" class="btn btn-black btn-sm btn-block">Update Page</a>
				</div>
				<div class="col-md-4">
					<a href="{{ path('app_demande_recu', {'update': 'false' }) }}" class="btn btn-outline-black btn-sm btn-block">Proposals</a>
				</div>
				<div class="col-md-4">
					<a href="{{ path('app_all_offre') }}" class="btn btn-outline-black btn-sm btn-block">Continue Trading</a>
				</div>
			</div>

			<div class="row mb-5">
				<div class="row mb-5">
					{% if demansesEnvoye is defined %}
						{% if demansesEnvoye is empty %}
							<div class="container mt-5">
								<h1>
									<strong>
										YOU DONT HAVE ANY PROPOSAL
									</strong><h1/>
								</div>

							{% else %}
								<form class="col-md-12" method="post">
									<div class="site-blocks-table">

										<table class="table">
											<thead>
												<tr>
													<th class="product-thumbnail">Picture</th>
													<th class="product-name">Offer
													</th>
														<th class="product-thumbnail">Picture</th>
													<th class="product-name">Opposite
													</th>
													<th class="product-price">Demander</th>
													<th class="product-quantity">Date</th>
													<th class="product-total">Status</th>
													<th class="product-total">Action</th>

												</tr>
											</thead>
											<tbody>


												{% for demande in demansesEnvoye %}

													{% set offre=demande.getOffre() %}
													{% set offreur=offre.getOffreur() %}
													{% set demandeur=demande.getDemandeur() %}
													{% set opposite=demande.getOpposite() %}
													<tr>
														<td class="product-thumbnail">
															<img src="{{asset('/uploads/images/offres/' ~ offre.getImage1() )}}" alt="Image" class="img-fluid image-ronde" style=" width:160px; height:160px;">
														</td>
														<td class="product-name">
															<h2 class="h5 text-black">{{offre.getNom()}}</h2>
														</td>
														<td class="product-thumbnail">
															<img src="{{asset('/uploads/images/offres/' ~ opposite.getImage1() )}}" alt="Image" class="img-fluid  image-ronde"  style=" width:160px; height:160px;">
														</td>
														<td class="product-name">
															<h2 class="h5 text-black">{{opposite.getNom()}}</h2>
														</td>
														<td>{{demandeur.getNom()}}</td>
														<td>
															{{ demande.getDateCreation() |date('Y-m-d') }}


														</td>


														<td>{{ demande.getStatut() }}

															{% if  demande.getStatut() == 'accepté' %}
																<a href="{{path('app_message_add',{'id_user': offreur.getId()})}}" class="btn btn-info">Chat</a>
															{% endif %}
														</td>

														<td>

															<a href="{{path('app_demande_remove',{'id_demande':demande.getId()})}}" class="button" id="delete">
  <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
</a>
														</td>



													</tr>

												{% endfor %}

											</tbody>
										</table>
									</div>
								</form>
							</div>

							<div class="row">
								<div
									class="col-md-6">
									{# <div class="row mb-5">
																										<div class="col-md-6 mb-3 mb-md-0">
																											<a href="{{path('app_demande_envoye' ,{ 'update' : "true" })}}" class="btn btn-black btn-sm btn-block">Update Page</a>
																										</div>
																										<div class="col-md-6">
																											<a href="{{path('app_demande_recu' ,{ 'update' : "false" })}}" class="btn btn-outline-black btn-sm btn-block">Proposals </a>
																										</div>
																									</div> #}

									<div class="col-md-6 pl-5">
										<div class="row justify-content-end">
											<div class="col-md-7">

											{% endif %}
										{% endif %}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{#end demandes #}
<style>
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
.image-ronde {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    overflow: hidden; 
}
</style>
			{% endblock %}
