{% extends "base_front.html.twig" %}

{% block body %}

	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>
							<strong>Proposals</strong>
						</h1>
					</div>
				</div>
				  <div class="col-lg-7">
					<div class="hero-img-wrap"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->
	{#start demandes #}
	<div class="untree_co-section before-footer-section">

		<div class="container">



		
			<div class="row">
				<div class="col-md-4">
					<a href="{{path('app_demande_recu',{'update' : "true" })}}" class="btn btn-black btn-sm btn-block">Update Page</a>
				</div>
				<div class="col-md-4">
					<a href="{{path('app_demande_envoye',{'update' : "false" })}}" class="btn btn-outline-black btn-sm btn-block">Proposals sended</a>
				</div>
				<div class="col-md-4">

					<a href="{{path('app_all_offre')}}"  class="btn btn-outline-black btn-sm btn-block">Continue Trading</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="row mb-5">
					{% if demandesRecu is defined %}

						{% if demandesRecu is empty %}
							<div class="container mt-5">
						<h1>
								<strong>
									YOU DONT HAVE ANY PROPOSAL
								</strong><h1/>
						</div>
							{% else %}
								<form class="col-md-12" method="post">
									<div class="site-blocks-table">

										<table class="table">
											<thead>
												<tr>
													<th class="product-thumbnail">Picture</th>
													<th class="product-name">Offer
													</th>
													<th class="product-thumbnail">Picture</th>
													<th class="product-name">Opposite
													</th>
													<th class="product-price">Demander</th>
													<th class="product-quantity">Date</th>
													<th class="product-total">Status</th>

												</tr>
											</thead>
											<tbody>


												{% for demande in demandesRecu %}

													{% set offre=demande.getOffre() %}
													{% set opposite=demande.getOpposite() %}
													{% set demandeur=demande.getDemandeur() %}
													<tr>
														<td class="product-thumbnail">
															<img src="{{asset('/uploads/images/offres/' ~ offre.getImage1() )}}" alt="Image" class="img-fluid  image-ronde"  style=" width:160px; height:160px;">
														</td>
														<td class="product-name">
															<h2 class="h5 text-black">{{offre.getNom()}}</h2>
														</td>
														<td class="product-thumbnail">
															<img src="{{asset('/uploads/images/offres/' ~ opposite.getImage1() )}}" alt="Image" class="img-fluid  image-ronde"  style=" width:160px; height:160px;">
														</td>
														<td class="product-name">
															<h2 class="h5 text-black">{{opposite.getNom()}}</h2>
														</td>
														<td>{{demandeur.getNom()}}</td>
														<td>
															{{ demande.getDateCreation()|date('Y-m-d') }}


														</td>
														{% if demande.getStatut() in ['accepté', 'refusé'] %}

															<td>{{ demande.getStatut() }}

																{% if  demande.getStatut() in ['accepté'] %}
																	<a href="{{path('app_message_add',{'id_user': demandeur.getId()})}}" class="btn btn-info">Chat</a>
																{% endif %}
															</td>

														{% else %}

															<td>
																<a href="{{path('app_demande_accepte', {'id_demande': demande.id })}}" class="btn btn-info">Accept</a>
																<a href="{{path('app_demande_refus',{'id_demande': demande.id })}}" class="btn btn-danger">Refuse</a>
															</td>
														{% endif %}

													</tr>

												{% endfor %}

											</tbody>
										</table>
									</div>
								</form>
							</div>

							<div class="row">
								<div class="col-md-6">


									<div class="col-md-6 pl-5">
										<div class="row justify-content-end">
											<div class="col-md-7">

											{% endif %}
										{% endif %}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{#end demandes #}
<style>
 .image-ronde {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    overflow: hidden; 
}
</style>
			{% endblock %}
