{% extends "base_front.html.twig" %}

{% block body %}
	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">

						<h1>My Offers</h1>

					</div>
				</div>
				<div class="col-lg-7">
					<div class="hero-img-wrap"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->
	<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row">
				{% if offres is empty %}
					<div>Oppss Pas Des Offres Actuellement</div>
				{% else %}
					{% for offre in offres %}
						<!-- Start Column 1 -->
						<div class="col-12 col-md-4 col-lg-3 mb-5">
							<a class="product-item" href="{{ path('app_offre_details', {'id_offre': offre.id}) }}">
								{% if offre.image1 is not null %}
									<img src="{{ asset('/uploads/images/offres/' ~ offre.image1) }}" class="img-fluid product-thumbnail"/>
								{% endif %}
								<h3 class="product-title">{{ offre.categorie }}</h3>
								<strong class="product-price">{{ offre.nom }}</strong>
								
									<a href="{{ path('app_update_offre', {'id_offre': offre.id}) }}">
										<button class="btn btn-dark">Update</button>
									</a>
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ offre.id }}">
										Delete
									</button>
									<!-- Modal -->
									<div class="modal fade" id="modal{{ offre.id }}" tabindex="-1" aria-labelledby="modal{{ offre.id }}Label" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="modal{{ offre.id }}Label">Delete Offer</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													Are you sure you want to delete this offer?
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
													<a href="{{ path('app_delete_offre', {'id_offre': offre.id}) }}">
														<button type="button" class="btn btn-primary">Delete</button>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						
						<!-- End Column 1 -->
					{% endfor %}
				{% endif %}
						{#start Pagination#}
             <div class="d-flex justify-content-center">
             {% do offres.setPageRange(2) %}
             {{knp_pagination_render(offres,'frontoffice/offre/pagination.html.twig')}}
             </div>
						{#end Pagination#}
			</div>
		</div>
	</div>
{% endblock %}
