{% extends 'base_front.html.twig' %}
{% block body %}
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1><strong>Offer Details </strong></h1>     
					</div>  
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{{asset("/uploads/images/offres/" ~ offre.image1)}}" alt="image1"></div>
							{% if offre.image2 is not null %}
							<div class="grid grid-2"><img src="{{asset("/uploads/images/offres/" ~ offre.image2)}}" alt="image2"></div>
							{% endif %}
							
							{% if offre.image2 is not null %}
							<div class="grid grid-3"><img src="{{asset("/uploads/images/offres/" ~ offre.image3)}}" alt="image3"></div>
							{% endif %}
							
							
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">{{offre.getNom()}}</h2>
						<p>{{offre.getDescription()}}</p>

						<ul class="list-unstyled custom-list my-4">
							<li><strong> Adresse : </strong> {{offreur.getAdresse()}}</li>
							<li><strong> Category : </strong> {{offre.getCategorie()}}</li>
							<li><strong> Publication Date : </strong>	{{ offre.getDatePublication()|date('Y-m-d H:i:s') }} </li>
							<li><strong> Posted By : </strong> {{offreur.getNom()}}</li>
						</ul> 
                        {% if mine == false  %}
						
						     {% if msg == true %}
							       <a class="btn" href="#" >Already sended</a>
								  {% else %}
										<a class="btn" href="{{path('app_demande_send',{'id_offre': offre.id})}}" >Trade</a>
							 {% endif %}
							 
						{% endif %}
						
                        
                        
						
                       
					
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->



{% endblock %}