{% extends 'base_front.html.twig' %}

{% block title %}Organisation index{% endblock %}

{% block body %}
    <h1>Organisation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_organisation</th>
                <th>Description</th>
                <th>RIB</th>
                <th>Adresse</th>
          
            </tr>
        </thead>
        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td>{{ organisation.id }}</td>
                <td>{{ organisation.nomOrganisation }}</td>
                <td><p>{{ organisation.description }}</p></td>
                <td>{{ organisation.rib }}</td>
                <td>{{ organisation.adresse }}</td>
              
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
