{% extends 'base_front.html.twig' %}

{% block body %}
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Blog</h1>
                    <p class="mb-4"> "Stay informed and inspired with our collection of articles on sustainability and community at Troky!"</p>
                    <p><a href="{{path('create_blog')}}" class="btn btn-secondary me-2">Create</a><a href="{{path('blog_list')}}" class="btn btn-white-outline">My blog</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="{{asset('frontoffice/images/blog.png')}}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Blog Section -->
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center" style="margin-left: 20;">
        <div class="col-md-6">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" id="searchInput" placeholder="Search anything...">
                <span class="left-pan"><i class="fa fa-microphone"></i></span>
            </div>               
        </div>
    </div>
</div>
	    <!-- Include speech recognition -->
    {# {% include 'frontoffice/blog/speech_recognition.html.twig' %} #}
<div class="blog-section">
    <div class="container">
        <div class="row" id="blogList">
            {% for blog in blogs %}
            <div class="col-md-6">
                <div class="post-entry">
                    <a href="{{ path('single_blog', { 'id': blog.id }) }}" class="post-thumbnail">
                        <img src="{{ asset('/uploads/images/blog/' ~ blog.image) }}" alt="Image" class="img-fluid">
                        <h2>{{ blog.titre }}</h2>
                        <p>{{ blog.contenu }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
document.getElementById('searchInput').addEventListener('input', function() {
    filterBlogs(this.value.toLowerCase());
});

document.querySelector('.fa.fa-microphone').addEventListener('click', function() {
    startVoiceRecognition();
});

function filterBlogs(searchValue) {
    var blogList = document.getElementById('blogList').getElementsByClassName('post-entry');
    for (var i = 0; i < blogList.length; i++) {
        var blogTitle = blogList[i].getElementsByTagName('h2')[0].innerText.toLowerCase();
        var blogContent = blogList[i].getElementsByTagName('p')[0].innerText.toLowerCase();
        if (blogTitle.indexOf(searchValue) > -1 || blogContent.indexOf(searchValue) > -1) {
            blogList[i].style.display = '';
        } else {
            blogList[i].style.display = 'none';
        }
    }
}

function startVoiceRecognition() {
    var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
    recognition.lang = 'en-US';

    recognition.onresult = function(event) {
        var transcript = event.results[0][0].transcript.toLowerCase();
        document.getElementById('searchInput').value = transcript; // Met à jour la valeur de l'élément input existant
    };

    recognition.start();
}
</script>

<style>
.height {
    height: 10vh;
}

.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}
</style>
{% endblock %}
