{% extends 'base_front.html.twig' %}
{% block body %}

 <!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Reclamation</h1>
                    <p class="mb-4">"Concerned about sustainability? Use our reclamation interface to report any issues or suggest improvements."</p>
                    <p><a href="" class="btn btn-secondary me-2">Home</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="{{ asset('frontoffice/images/reclam-removebg-preview.png') }}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Contact Form -->
<div class="untree_co-section">
    <div class="container">
        <div class="block">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8 pb-4">
                    <div class="container">
                        <h2>Submit Your Reclamation Response</h2>
                        <div class="form-container">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation', 'id': 'reclamation-response-form'}}) }}
                            <div class="mb-3">
                                {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                            </div>
                            {# <div class="mb-3"> #}
                                {# {{ form_row(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Date'}}) }} #}
                            {# </div> #}
                            <div class="mb-3">
                                {{ form_row(form.save, { 'label': 'Submit', 'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                            {{ form_end(form) }}
                            {# <a href="{{ path('app_reclamation_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post">
      
    </form>
<!-- End Contact Form -->
{% endblock %}
