{% extends 'dashAdminReclam.html.twig' %}
{% block body %}

	<!-- Start Response Display Section -->
	<div class="untree_co-section">
		<div class="container">
			<div class="block">
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-8 pb-4">
						<div class="container">
							<h2>Response Details</h2>
							<div style="height: 30px;"></div>
							<div class="card">
								<div class="card-body">
									{# <h5 class="card-title">Response Details</h5> #}
									<p class="card-text">Id:
										{{ reponse.id }}</p>
									<p class="card-text">Description:
										{{ rep.description }}</p>
									<p class="card-text">Date Response:
										{{ rep.dateReponse ? rep.dateReponse|date('Y-m-d') : '' }}</p>
								</div>


								<div style="height: 100px;"></div>

								<div class="card-footer text-center">

									<a href="{{ path('app_dashboard_reclamation') }}" class="btn btn-secondary">Back to List</a>

									{# <a href="{{ path('app_list',{'reclamateur_id': reponse.getReclamReponse().getReclamateur().id}) }}" class="btn btn-secondary">Back to List</a> #}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Response Display Section -->

 {% endblock %} 

